<section class="content-page container mx-auto">
  <div class="content-header">
    <app-page-title title="{{'Pages.Products.All_Products.Title' | translate}}"/>
    <p>{{'Pages.Products.All_Products.Desc' | translate}}</p>
    <div class="product-page-category relative">
      <app-home-header-page title="{{'Pages.Products.All_Products.Page_Header.Title' | translate}}" type="{{'Pages.Products.All_Products.Page_Header.Type' | translate}}"/>
      <div class="flex flex-col justify-between">
        <app-product-filters (filterFormValues)="onFormFilterValues($event)" [categories]="filteredCategories()" [brands]="filteredBrands()"/>
        <div>
          <div *ngIf="!hasProducts()" class="no-products-message">
            {{'Shared.Filter_Products.Results.If_Empty_Result' | translate}}
          </div>
          <app-product-card [products]="products$ | async" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-spinner *ngIf="isLoading$ | async" />
