<section class="content-page container mx-auto">
  <div class="content-header">
    <app-page-title title="Our Products"/>
    <p>Discover our collection of premium products</p>
    <div class="product-page-category relative">
      <app-home-header-page title="Products" type="All"/>
      <div class="flex flex-col justify-between">
        <app-product-filters (filterFormValues)="onFormFilterValues($event)" [categories]="filteredCategories()" [brands]="filteredBrands()"/>
        <div>
          <div *ngIf="!hasProducts()" class="no-products-message">
            There are no filtering products!.
          </div>
          <app-product-card [products]="products$ | async" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-spinner *ngIf="isLoading$ | async" />
