<div class="success-container">
    <div class="success-card">
      <div class="success-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
          <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
      </div>
      <h1>{{'Pages.Cart.Checkout.After_Checkout.Information_Order.Success_Page.Title' | translate}}</h1>
      <p>{{'Pages.Cart.Checkout.After_Checkout.Information_Order.Success_Page.Thanks' | translate}}, {{'Pages.Cart.Checkout.After_Checkout.Information_Order.Success_Page.Message' | translate}}</p>
      <button class="back-button" (click)="goViewOrders()">{{'Pages.Cart.Checkout.After_Checkout.Information_Order.Success_Page.Btn' | translate}}</button>
    </div>
  </div>