<div class="product-page-category content-page relative container mx-auto">
  <div class="content-header">
    <h1>{{ name }}</h1>
    <p>
      Discover our collection of {{ name }}
    </p>
  </div>
  <app-home-header-page [title]="name" />
  <app-product-filters [categories]="filterdCategory()" [brands]="filterdBrands()" (filterFormValues)="onFormFilterValues($event)"/>
  <app-product-card [products]="products$ | async" />

  <!-- Display messages based on the state -->
  <div *ngIf="isListEmpty()" class="no-products-message">
    There are no products on {{ name }}!.
  </div>
  <div *ngIf="!isListEmpty() && !hasProducts()" class="no-products-message">
    There are no filtering products!.
  </div>
</div>

<app-spinner *ngIf="isLoading$ | async"></app-spinner>
