<div class="product-page-category content-page relative container mx-auto">
  <div class="content-header">
    <h1>{{ name }}</h1>
    <p>
      {{'Pages.Products.Products_Type.Desc' | translate}} {{ name }}
    </p>
  </div>
  <app-home-header-page [title]="name" type="{{'Pages.Products.Products_Type.Page_Header.Type' | translate}}"/>
  <app-product-filters [categories]="filterdCategory()" [brands]="filterdBrands()" (filterFormValues)="onFormFilterValues($event)"/>
  <app-product-card [products]="products$ | async" />

  <!-- Display messages based on the state -->
  <div *ngIf="isListEmpty()" class="no-products-message">
    {{'Pages.Products.Shared.If_No_Products' | translate}}
  </div>
  <div *ngIf="!isListEmpty() && !hasProducts()" class="no-products-message">
    {{'Shared.Filter_Products.Results.If_Empty_Result' | translate}}
  </div>
</div>

<app-spinner *ngIf="isLoading$ | async"></app-spinner>
