<div class="cart-container">
    <app-page-title class="m-10" title="Your Cart ({{cartItems.length}})"/>
    <div class="cart-content">
        <div class="cart-items">
            @if (cartItems.length >= 1) {
                <div class="cart-item shadow-lg" *ngFor="let item of cartItems">
                    <img src="../../../assets/images/laptop.webp">
                    <div class="item-details">
                        <h3>{{ item.name }}</h3>
                        <div class="flex justify-between">
                            <div class="price">L.E {{ (item.price).toFixed(2) }}</div>
                            <p class="ref">Stock: {{ item.ref }}</p>
                        </div>
                        <hr class="m-5">
                        <div class="quantity-price">
                            <div class="quantity-controls">
                                <div class="flex items-center gap-2">
                                    <button class="decrease" (click)="decreaseQuantity(item)">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <input type="number" [(ngModel)]="item.quantity" readonly>
                                    <button class="increase" (click)="increaseQuantity(item)">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                                <div class="price">L.E {{ (item.price * item.quantity).toFixed(2) }}</div>
                                <app-view-product/>
                            </div>
                        </div>
                    </div>
                    <button class="remove-item" (click)="removeItem(item)">
                        <i class="delete-btn fa-regular fa-trash-can"></i>
                    </button>
                </div>
            } @else {
                <h1 class="empty-cart">Your Cart is empty!</h1>
            }
        </div>
        <div class="cart-summary shadow-lg rounded-xl">
            <div>
                <div class="summary-row">
                    <span>Subtotal:</span>
                    <span>L.E {{ subtotal.toFixed(2) }}</span>
                </div>
                <div class="summary-row">
                    <span>Delivery:</span>
                    <span>L.E {{ delivery.toFixed(2) }}</span>
                </div>
                <div class="summary-row total">
                    <span>Total:</span>
                    <span>L.E {{ total.toFixed(2) }}</span>
                </div>
            </div>
            <div>
                <button class="checkout-button">Checkout</button>
                <p class="terms">
                    This site is protected by reCAPTCHA and the Google
                    <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.
                </p>
            </div>
        </div>
    </div>
</div>