<div class="container text-font-secondary">
  <ng-container *ngIf="(wishlistItems$ | async) as products">
    <app-page-title title="{{'Pages.Wishlist.Title' | translate}} ({{isLoggedIn ? products.count : 0}})"></app-page-title>
    <ng-container *ngIf="isLoggedIn;">
      <ng-container *ngIf="products.count > 0; else emptyWishlistTemplate">
        
        <!-- Desktop View -->
        <div class="hidden md:block">
          <table class="product-table">
            <thead>
              <tr>
                <th aria-hidden="true"></th>
                <th>{{'Pages.Wishlist.Table_Details.Image' | translate}}</th>
                <th>{{'Pages.Wishlist.Table_Details.Product_Name' | translate}}</th>
                <th>{{'Pages.Wishlist.Table_Details.Price' | translate}}</th>
                <th>{{'Pages.Wishlist.Table_Details.Stock_Status' | translate}}</th>
                <th aria-hidden="true"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products.data">
                <td class="text-center">
                  <i (click)="removeProductWishlist(product)" class="delete-btn fa-regular fa-trash-can"></i>
                </td>
                <td class="image-cell">
                  <img [src]="product.imageCover" alt="{{ product.title }}" />
                </td>
                <td>{{ product.title }}</td>
                <td class="price-cell">
                  <div *ngIf="product.priceAfterDiscount !== undefined; else noDiscount">
                    <span class="sale-price text-red-500">{{ product.priceAfterDiscount | currency: ('Pages.Wishlist.Price' | translate) }}</span>
                    <span class="original-price line-through mx-2">{{ product.price | currency: ('Pages.Wishlist.Price' | translate)}}</span>
                  </div>
                  <ng-template #noDiscount>
                    <span class="sale-price">{{ product.price | currency: ('Pages.Wishlist.Price' | translate)}}</span>
                  </ng-template>
                </td>
                <td>
                  <span class="text-background-main p-1 rounded-lg" [ngClass]="{'bg-green-600': product.quantity > 0, 'bg-red-600': product.quantity <= 0}">
                    {{ product.quantity > 0 ? ('Pages.Products.Product_Details.Stock.In_Stock' | translate) : ('Pages.Products.Product_Details.Stock.Out_Stock' | translate) }}
                  </span>
                </td>
                <td class="action-cell gap-1 flex flex-col">
                  <div class="date">{{'Pages.Wishlist.Created_On' | translate}} {{ product.createdAt | date }}</div>
                  <div class="flex items-center justify-center gap-3">
                    <i (click)="viewProduct(product)" class="fa-regular fa-eye text-lg hover:text-font-main cursor-pointer"></i>
                    <app-add-to-cart-button (click)="addToCart(product)"></app-add-to-cart-button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Mobile View -->
        <div class="md:hidden">
          <div class="space-y-6 flex justify-center items-baseline gap-3 flex-wrap">
            <div *ngFor="let product of products.data" class="bg-background-main rounded-lg shadow-lg p-4 w-80 h-fit">
              <div class="flex flex-col justify-between h-full">
                
                <!-- head -->
                <div class="flex justify-center items-start mb-3 relative">
                  <div class="w-32 h-32 flex justify-center">
                    <img [src]="product.imageCover" alt="{{ product.title }}" class="rounded-lg"/>
                  </div>
                  <i (click)="removeProductWishlist(product)" class="delete-btn absolute left-0 top-0 fa-regular fa-trash-can"></i>
                </div>
  
                <!-- center -->
                  <div class="flex flex-col gap-y-3 items-center">
                    <h3 class="font-bold text-center">{{ product.title }}</h3>
                    <div class="flex items-center gap-2">
                      <span class="original-price text-sm line-through">{{ product.price }} {{'Pages.Wishlist.Price' | translate}}</span>
                      <span class="sale-price text-red-500">{{ product.priceAfterDiscount ? product.priceAfterDiscount : product.price }} {{'Pages.Wishlist.Price' | translate}}</span>
                    </div>
                    <div class="text-lg date">
                      {{'Pages.Wishlist.Created_On' | translate}} {{ product.createdAt | date }}
                    </div>
                    <div class="text-sm">
                      <span class="text-background-main p-1 rounded-lg" [ngClass]="{'bg-green-600': product.quantity > 0, 'bg-red-600': product.quantity <= 0}">
                        {{ product.quantity > 0 ? ('Pages.Products.Product_Details.Stock.In_Stock' | translate) : ('Pages.Products.Product_Details.Stock.Out_Stock' | translate) }}
                      </span>
                    </div>
                  </div>
  
                  <!-- footer -->
                  <div class="flex items-center justify-center gap-3 mt-5">
                    <app-view-product (click)="viewProduct(product)" />
                    <app-add-to-cart-button (click)="addToCart(product)"></app-add-to-cart-button>
                  </div>
              </div>
              </div>
            </div>
          </div>
      </ng-container>
      <ng-template #emptyWishlistTemplate>
        <div class="empty-wishlist-message">
          <h1 class="empty-wishlist-title">{{'Pages.Wishlist.If_Empty.Title' | translate}}</h1>
          <button class="empty-wishlist-button" routerLink="/products">{{'Pages.Wishlist.If_Empty.Btn' | translate}}</button>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>

  <div *ngIf="!isLoggedIn" class="empty-wishlist-message">
    <p class="empty-wishlist-subtext">{{'Pages.Wishlist.If_Not_Login.Title' | translate}}</p>
    <span routerLink="/user/login" class="empty-wishlist-button">
      <i class="fa-solid fa-user"></i>
      {{'Pages.Wishlist.If_Not_Login.Btn' | translate}}
    </span>
  </div>
</div>
@if ((currentLang$ | async) === 'en') {
  <p-toast dir="ltr" position="bottom-right"></p-toast>
} @else {
  <p-toast dir="ltr" position="bottom-left"></p-toast>
}
<app-spinner *ngIf="loading$ | async"></app-spinner>