<div class="wishlist-container">
    <h1 class="wishlist-title">Your Wishlist (1)</h1>
    <div class="wishlist-items">
        <!-- Wishlist Item -->
        <div class="wishlist-item">
            <img src="/assets/images/laptop.webp" alt="Laptop Dell i5" class="product-image">
            <div class="item-details">
                <h3 class="product-title">LEGO 71043 Harry Potter Hogwarts Castle Toy for Teens & Adults</h3>
                <p class="stock">Stock: 169928</p>
                <div class="delivery-badges">
                    <span class="badge"><i class="fa-solid fa-circle-check text-lime-500"></i> Click & Collect</span>
                    <span class="badge"><i class="fa-solid fa-circle-check text-lime-500"></i> Home Delivery</span>
                </div>
                <div class="flex items-center justify-between mt-8 mb-3">
                    <div class="price">L.E 314.99</div>
                    <div class="flex flex-col justify-center items-center gap-3">
                        <app-view-product />
                        <app-add-to-cart-button />
                    </div>
                </div>
            </div>
            <button class="remove-item"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</div>