<div class="details-container">
  <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
    <!-- Current Password Field -->
    <div class="form-group">
      <div class="input-container">
        <input [type]="showCurrentPassword ? 'text' : 'password'" id="currentPassword" formControlName="currentPassword"
          [class.error]="passwordForm.get('currentPassword')?.invalid && (passwordForm.get('currentPassword')?.touched || passwordForm.get('currentPassword')?.dirty)"
          placeholder="{{'User.Profile.Change_Password.Placeholders.Current_Pass' | translate}}">
        <span class="icon toggle-password" (click)="togglePasswordVisibility('currentPassword')">
          {{ showCurrentPassword ? '👁️' : '👁️‍🗨️' }}
        </span>
      </div>
      <span class="error-message" *ngIf="(passwordForm.get('currentPassword')?.touched || passwordForm.get('currentPassword')?.dirty) && getErrorMessage('currentPassword')">
        {{ getErrorMessage('currentPassword') }}
      </span>
    </div>

    <!-- New Password Field -->
    <div class="form-group">
      <div class="input-container">
        <input [type]="showNewPassword ? 'text' : 'password'" id="password" formControlName="password"
          [class.error]="passwordForm.get('password')?.invalid && (passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty)"
          placeholder="{{'User.Profile.Change_Password.Placeholders.New_Pass' | translate}}">
        <span class="icon toggle-password" (click)="togglePasswordVisibility('password')">
          {{ showNewPassword ? '👁️' : '👁️‍🗨️' }}
        </span>
      </div>
      <span class="error-message" *ngIf="(passwordForm.get('password')?.touched || passwordForm.get('password')?.dirty) && getErrorMessage('password')">
        {{ getErrorMessage('password') }}
      </span>
    </div>

    <!-- Confirm New Password Field -->
    <div class="form-group">
      <div class="input-container">
        <input [type]="showConfirmPassword ? 'text' : 'password'" id="rePassword" formControlName="rePassword"
          [class.error]="passwordForm.get('rePassword')?.invalid && (passwordForm.get('rePassword')?.touched || passwordForm.get('rePassword')?.dirty)"
          placeholder="{{'User.Profile.Change_Password.Placeholders.Confirm_Pass' | translate}}">
        <span class="icon toggle-password" (click)="togglePasswordVisibility('rePassword')">
          {{ showConfirmPassword ? '👁️' : '👁️‍🗨️' }}
        </span>
      </div>
      <span class="error-message" *ngIf="(passwordForm.get('rePassword')?.touched || passwordForm.get('rePassword')?.dirty) && getErrorMessage('rePassword')">
        {{ getErrorMessage('rePassword') }}
      </span>
    </div>

    <!-- Submit Button -->
    <app-button-loading text="{{'User.Profile.Change_Password.Btn' | translate}}" [disabled]="passwordForm.invalid || isSubmitting" [loading]="isSubmitting"/>
  </form>
</div>

@if ((currentLang$ | async) === 'en') {
  <p-toast dir="ltr" position="bottom-right"></p-toast>
} @else {
  <p-toast dir="ltr" position="bottom-left"></p-toast>
}