<footer class="footer bg-font-secondary">
    <div class="footer-content flex flex-col md:flex-row justify-between">
        <div class="footer-section text-background-main">
            <h4 class="text-font-main">Contact Us</h4>
            <div class="flex flex-col gap-y-2">
                <span>
                    <i class="fa-regular fa-envelope"></i> {{'ahmedmahmuuud@gmail.com'}}
                </span>
                <span>
                    <i class="fa-solid fa-phone"></i> {{'01125734333'}}
                </span>
            </div>
        </div>

        <div class="footer-section">
            <h4 class="text-font-main">Quick Links</h4>
            <ul>
                <li><a routerLink="/" class="text-background-main">Home</a></li>
                <li><a routerLink="/about" class="text-background-main">About Us</a></li>
                <li><a routerLink="/contact" class="text-background-main">Contact</a></li>
                <li><a routerLink="/products" class="text-background-main">Products</a></li>
                <li><a routerLink="/brands" class="text-background-main">Brands</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4 class="text-font-main">Follow Us</h4>
            <div class="social-links">
                <a target="_blank" href="https://www.facebook.com/ahmedmahmuuud" class="social-icon text-background-main"><i class="fa-brands fa-facebook text-blue-600"></i> Facebook</a>
                <a target="_blank" href="https://www.instagram.com/ahmedmahmuuud/" class="social-icon text-background-main"><i class="fa-brands fa-instagram text-red-600"></i> Instagram</a>
                <a target="_blank" href="https://www.linkedin.com/in/ahmed-mahmuud" class="social-icon text-background-main"><i class="fa-brands fa-linkedin text-blue-900"></i> Linkedin</a>
            </div>
        </div>
    </div>

    <div class="footer-bottom text-font-main">
        <p>&copy; 2025 Your Market. All rights reserved for <a target="_blank" class="text-background-main hover:text-background-main" href="https://www.instagram.com/ahmedmahmuuud">(Developer)</a>.</p>
    </div>
</footer>