<div class="home-content">
  <!-- Hero Section -->
  <section class="section flex-container">
    <!-- Slider -->
    <div class="slider">
      <app-hero-section></app-hero-section>
    </div>
  </section>

  <!-- Brands section -->
  <section class="section brands-section">
    <!-- hr Divider -->
    <div class="section-divider"><span></span></div>
    <div class="section-container">
      <app-page-title title="{{'Pages.Home.Brand_Section.Title' | translate}}" />
      <div class="brands-container">
        <swiper-container
          [breakpoints]="breakpoints"
          [speed]="swiperConfig.speed"
          [grabCursor]="true"
          [freeMode]="false"
          [allowTouchMove]="true"
          [navigation]="swiperConfig.navigation"
          [pagination]="swiperConfig.pagination"
          [autoplay]="swiperConfig.autoplay"
          [loop]="swiperConfig.loop">
          <swiper-slide (click)="onBrandClick(brand)" *ngFor="let brand of brands()" >
            <div class="brand-item">
              <img [src]="brand.image" [alt]="brand.name" loading="lazy"/>
              <div class="brand-overlay">
                <span class="brand-name">{{ brand.name }}</span>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
        <div class="flex justify-center">
          <app-global-btn routerLink="/brands" title="{{'Pages.Home.Brand_Section.Btn' | translate}}"/>
        </div>
      </div>
    </div>
  </section>

<!-- Products Section -->
<section class="section brands-section">
  <!-- hr Divider -->
  <div class="section-divider"><span></span></div>
  <div class="section-container">
    <app-page-title title="{{'Pages.Home.Products_Section.Title' | translate}}" />
    <app-product-card [products]="limitProductsFilter()"/>
    <div class="flex justify-center">
      <app-global-btn routerLink="/products" title="{{'Pages.Home.Products_Section.Btn' | translate}}"/>
    </div>
  </div>
</section>

<!-- category Section -->
<section class="section brands-section">
  <!-- hr Divider -->
  <div class="section-divider"><span></span></div>
  <div class="section-container">
    <app-page-title title="{{'Pages.Home.Categories_Section.Title' | translate}}" />
    <swiper-container
    [breakpoints]="breakpoints"
    [speed]="swiperConfig.speed"
    [grabCursor]="true"
    [freeMode]="false"
    [allowTouchMove]="true"
    [navigation]="swiperConfig.navigation"
    [pagination]="swiperConfig.pagination"
    [autoplay]="swiperConfig.autoplay"
    [loop]="swiperConfig.loop">
    <swiper-slide (click)="onCategoryClick(category)" *ngFor="let category of categories()" >
      <div class="brand-item">
        <img [src]="category.image" [alt]="category.name" loading="lazy"/>
        <div class="brand-overlay">
          <span class="brand-name">{{ category.name }}</span>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  </div>
</section>

<!-- End Section -->
<section class="section brands-section">
  <!-- hr Divider -->
  <div class="section-divider"><span></span></div>
  <div class="section-container">
    <div class="features-container">
      <div class="feature-item">
        <div class="icon-circle">
          <i class="fas fa-truck"></i>
        </div>
        <h3>{{'Pages.Home.End_Section.Card_One.Title' | translate}}</h3>
        <p>{{'Pages.Home.End_Section.Card_One.Desc' | translate}}</p>
      </div>

      <div class="feature-item">
        <div class="icon-circle">
          <i class="fas fa-headset"></i>
        </div>
        <h3>{{'Pages.Home.End_Section.Card_Two.Title' | translate}}</h3>
        <p>{{'Pages.Home.End_Section.Card_Two.Desc' | translate}}</p>
      </div>

      <div class="feature-item">
        <div class="icon-circle">
          <i class="fas fa-shield-alt"></i>
        </div>
        <h3>{{'Pages.Home.End_Section.Card_Three.Title' | translate}}</h3>
        <p>{{'Pages.Home.End_Section.Card_Three.Desc' | translate}}</p>
      </div>
    </div>
  </div>
</section>
</div>
<p-toast position="bottom-right"></p-toast>