<div class="home-content flex flex-col justify-between min-h-screen">
    <!-- Brands section -->
    <section class="brands-section">
        <h1>Brands</h1>
        <div class="brands-container">
            <swiper-container [autoplay]="{ delay: 3000, disableOnInteraction: false }" [loop]="true"
                [slidesPerView]="5" [spaceBetween]="40" [speed]="3000" [grabCursor]="true" [freeMode]="false"
                [allowTouchMove]="true">
                <swiper-slide *ngFor="let brand of brands()">
                    <div class="brand-item">
                        <img class="rounded-full" [src]="brand.image" [alt]="brand.name" loading="lazy">
                        <div class="brand-overlay">
                            <span class="brand-name">{{ brand.name }}</span>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </section>
</div>