<div class="filters-container">
  <form [formGroup]="filterForm" class="filters-grid">
    <!-- Search Section -->
    <div class="filter-group">
      <div class="input-group">
        <i class="material-icons">search</i>
        <input id="search" type="text" formControlName="searchQuery" placeholder="{{'Shared.Filter_Products.Inputs.Search.Placeholder' | translate}}" class="search-input" />
      </div>
    </div>

    <!-- Category Filter -->
    <div class="filter-group">
      <div class="select-wrapper">
        <select id="category" formControlName="selectedCategory" class="filter-select">
          <option value="all">{{'Shared.Filter_Products.Inputs.Category.Default_Value' | translate}}</option>
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
    </div>

    <!-- Brand Filter -->
    <div class="filter-group">
      <div class="select-wrapper">
        <select id="brand" formControlName="selectedBrand" class="filter-select">
          <option value="all">{{'Shared.Filter_Products.Inputs.Brand.Default_Value' | translate}}</option>
          <option *ngFor="let brand of brands" [value]="brand">{{ brand }}</option>
        </select>
      </div>
    </div>

    <!-- Price Range Select -->
    <div class="filter-group">
      <div class="select-wrapper">
        <select id="price" formControlName="selectedPriceRange" class="filter-select">
          <option value="all">{{'Shared.Filter_Products.Inputs.Prices.Default_Value' | translate}}</option>
          <option value="low-to-high">{{'Shared.Filter_Products.Inputs.Prices.Low_to_high' | translate}}</option>
          <option value="high-to-low">{{'Shared.Filter_Products.Inputs.Prices.High_to_low' | translate}}</option>
          <option value="discounts">{{'Shared.Filter_Products.Inputs.Prices.Discounts' | translate}}</option>
        </select>
      </div>
    </div>

    <!-- Reset Button -->
    <div class="filter-group">
      <button type="button" class="reset-button" (click)="resetFilters()">
        <i class="material-icons">refresh</i>
      </button>
    </div>
  </form>
</div>