<section class="brands-page container mx-auto">
  <div class="brands-header">
    <app-page-title title="{{'Pages.Brands.All_Brands.Title' | translate}}"/>
    <p>{{'Pages.Brands.All_Brands.Desc' | translate}}s</p>
  </div>
  <app-home-header-page title="{{'Pages.Brands.All_Brands.Page_Header.Title' | translate}}" type="{{'Pages.Brands.All_Brands.Page_Header.Type' | translate}}" />

  <div class="brands-grid mb-6">
    <div *ngFor="let brand of displayedBrands$ | async" class="brand-card">
      <div (click)="onClickBrand(brand)">
        <div class="brand-image">
          <img [src]="brand.image" [alt]="brand.name" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(displayedBrands$ | async)?.length === initialDisplayCount " class="flex justify-center">
    <app-global-btn (click)="clickViewAllBrands()" title="{{'Pages.Brands.All_Brands.View_Btn' | translate}}"/>
  </div>
</section>
<app-spinner *ngIf="isLoading$ | async" />