<div class="forget-password">
  <div class="reset-form">
    <!-- Steps Indicator -->
    <div class="steps-container">
      <div class="step" [class.active]="currentStep === 1">
        <div class="step-number">1</div>
        <div class="step-label">{{'User.Forget_Pass.Phase_1.Name' | translate}}</div>
      </div>
      <div class="step-line"></div>
      <div class="step" [class.active]="currentStep === 2">
        <div class="step-number">2</div>
        <div class="step-label">{{'User.Forget_Pass.Phase_2.Name' | translate}}</div>
      </div>
      <div class="step-line"></div>
      <div class="step" [class.active]="currentStep === 3">
        <div class="step-number">3</div>
        <div class="step-label">{{'User.Forget_Pass.Phase_3.Name' | translate}}</div>
      </div>
    </div>

    <!-- Step 1: Email Input -->
    <div *ngIf="currentStep === 1">
      <h2>{{'User.Forget_Pass.Phase_1.Title' | translate}}</h2>
      <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
        <div class="form-group">
          <input type="email" formControlName="email" name="email" required placeholder="{{'User.Forget_Pass.Phase_1.Email' | translate}}">
          <div *ngIf="emailForm.get('email')?.invalid && (emailForm.get('email')?.dirty || emailForm.get('email')?.touched)" class="error-message">
              <div *ngIf="emailForm.get('email')?.errors?.['required']">{{(currentLang$ | async) === 'en' ? 'Email Required' : 'البريد الإلكتروني مطلوب'}}</div>  
              <div *ngIf="emailForm.get('email')?.errors?.['email']">{{(currentLang$ | async) === 'en' ? 'Invalid Email' : 'البريد الالكتروني غير صحيح'}}</div>  
          </div>
        </div>
        <app-button-loading text="{{'User.Forget_Pass.Phase_1.Btn' | translate}}" [loading]="isSubmitting()" [disabled]="isSubmitting() || emailForm.invalid"/>
      </form>
    </div>

    <!-- Step 2: Verification Code -->
    <div *ngIf="currentStep === 2">
      <h2>{{'User.Forget_Pass.Phase_2.Title' | translate}}</h2>
      <form (ngSubmit)="submitCode()">
        <div class="verification-inputs">
          <input 
            *ngFor="let i of [0,1,2,3,4,5]; let index = index"
            type="text"
            [(ngModel)]="verificationCode[i]"
            [name]="'code' + i"
            maxlength="1"
            (input)="onCodeInput($event, i)"
            (paste)="onPaste($event)"
            inputmode="numeric"
            pattern="[0-9]*"
          >
        </div>
        <app-button-loading text="{{'User.Forget_Pass.Phase_2.Name' | translate}}" [loading]="isSubmitting()" [disabled]="isSubmitting() || emailForm.invalid"/>
      </form>
      <p class="resend-email-parent">{{'User.Forget_Pass.Phase_2.Resend.Title' | translate}} <span class="resend-email" (click)="resendEmail()">{{'User.Forget_Pass.Phase_2.Resend.Link' | translate}}</span></p>
    </div>

    <!-- Step 3: New Password -->
    <div *ngIf="currentStep === 3">
      <h2>{{'User.Forget_Pass.Phase_3.Title' | translate}}</h2>
      <form [formGroup]="newPasswordForm" (ngSubmit)="submitNewPassword()">
        <div class="form-group">
          <input type="email" [(ngModel)]="email" name="email" required placeholder="{{'User.Forget_Pass.Phase_3.Placeholders.Email' | translate}}" [formControl]="emailForm.get('email')">
        </div>
        <div class="form-group">
          <input type="password" formControlName="newPassword" name="newPassword" placeholder="{{'User.Forget_Pass.Phase_3.Placeholders.New_Password' | translate}}"/>
          <div *ngIf="newPasswordControl?.invalid && (newPasswordControl?.dirty || newPasswordControl?.touched)" class="error-message">
            <div *ngIf="newPasswordControl?.errors?.['required']">{{ (currentLang$ | async) === 'en' ? 'Password is required' : 'كلمة المرور مطلوبة' }}</div>
            <div *ngIf="newPasswordControl?.errors?.['minlength']">{{ (currentLang$ | async) === 'en' ? 'Password must be at least 8 characters long' : 'يجب أن تكون كلمة المرور 8 أحرف على الأقل' }}</div>
          </div>
        </div>
        <app-button-loading text="{{'User.Forget_Pass.Phase_3.Name' | translate}}" [loading]="isSubmitting()" [disabled]="isSubmitting() || newPasswordForm.invalid"/>
      </form>
    </div>

    <!-- Success Message -->
    <div *ngIf="currentStep === 4" class="success-message">
      <h2 class="success">{{'User.Forget_Pass.Success.Title' | translate}}</h2>
      <p>{{'User.Forget_Pass.Success.Description' | translate}}</p>
    </div>
  </div>
</div>
@if ((currentLang$ | async) === 'en') {
  <p-toast dir="ltr" position="bottom-right"></p-toast>
} @else {
  <p-toast dir="ltr" position="bottom-left"></p-toast>
}